<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bomba - Centro de Medicina</title>
    <link rel="stylesheet" href="static\css\styles.css">
   
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="logo">
                <img src="static\imagens\5.jpg" alt="BOMBA-CENTRO MÉDICO"><br>Bomba-Centro Médico
            </div>
            <div class="contact-info">
                <p>AGENDE SUA CONSULTA</p>
                <p>92 3312-6741</p>
                <p>Atendimento de 08:00 às 18:00</p>
            </div>
        </div>
      
        <nav>
            <ul class="main-menu">
                <li><a href="#hero">Início</a></li>
                <li><a href="#about">A Bomba</a></li>
                <li><a href="#specialties">Especialidades</a></li>
                <li><a href="#treatments">Tratamentos</a></li>
                <li><a href="#team">Corpo Clínico</a></li>
                <li><a href="#contact">Contato</a></li>
            </ul>
            <div class="menu-separator"></div>
            <ul class="secondary-menu">
                <li><a href="/">Login</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section id="hero" class="hero">
            <img src="static\imagens\médico.jpg" alt="Equipe Médica">
        </section>
        
        <section id="about" class="about">
            <h2>A Bomba</h2>
            <p>Informações sobre o centro médico...</p>
        </section>

        <section id="specialties" class="specialties">
            <h2>Especialidades</h2>
            <div class="specialty-cards">
                <div class="card">
                    <img src="static\imagens\cardiologia.png" alt="Cardiologia">
                    <h3>Cardiologia</h3>
                    <p>Consulta, diagnóstico, tratamento de doenças e disfunções ligadas ao sistema cardiovascular.</p>
                </div>
                <div class="card">
                    <img src="static\imagens\clinica-medica_interno.jpg" alt="Clínica Médica">
                    <h3>Clínica Médica</h3>
                    <p>Médico especializado em ter uma visão geral do organismo humano, seus sistemas e aparelhos.</p>
                </div>
                <div class="card">
                    <img src="static\imagens\neuro.jpg" alt="Neurologia">
                    <h3>Neurologia</h3>
                    <p>Diagnóstico e tratamento de doenças que afetam o coração e os grandes vasos.</p>
                </div>
                <div class="card">
                    <img src="static\imagens\dermato.jpg" alt="Dermatologia">
                    <h3>Dermatologia</h3>
                    <p>Especialista no diagnóstico, tratamento e prevenção de doenças da pele, pelos, mucosas, cabelos e unhas.</p>
                </div>
                <div class="card">
                    <img src="static\imagens\pediatria.jpg" alt="Pediatria">
                    <h3>Pediatria</h3>
                    <p>Especialidade médica responsável pela saúde geral de crianças e adolescentes.</p>
                </div>
                <div class="card">
                    <img src="static\imagens\oftalmologia.jpg" alt="Oftalmologia">
                    <h3>Oftalmologia</h3>
                    <p>Médico especialista em cuidar da saúde ocular,capacitado para diagnosticar e tratar problemas da visão.</p>
                </div>
            </div>
        </section>
        
        <section id="treatments" class="treatments">
            <h2>Tratamentos</h2>
            <div class="treatment-cards">
                <div class="card">
                    <img src="static\imagens\fisioterapia.jpg" alt="Fisioterapia">
                    <h3>Fisioterapia</h3>
                    <p>Busca prevenir, tratar e reabilitar disfunções e lesões do movimento humano, utilizando técnicas terapêuticas para promover a saúde e bem-estar dos pacientes.</p>
                </div>
                <div class="card">
                    <img src="static\imagens\acompanhamentoinfantil.jpg" alt="Acompanhamento Infantil">
                    <h3>Acompanhamento Infantil</h3>
                    <p>Eixo norteador da assistência à saúde da criança, com ênfase na vigilância de fatores que podem interferir no processo saúde-doença.</p>
                </div>
                <div class="card">
                    <img src="static\imagens\nutri.jpg" alt="Nutrição">
                    <h3>Nutrição</h3>
                    <p>Orientação de uma alimentação adequada, a fim de manter o organismo em equilíbrio e saudável.</p>
                </div>
            </div>
        </section>

        <section id="team" class="team">
            <h2>Corpo Clínico</h2>
            <p>Detalhes sobre a equipe médica...</p>
        </section>

        <section id="contact" class="contact">
            <h2>Contato</h2>
            <p>Formulário e detalhes de contato...</p>
        </section>
    </main>
    
    <footer>
        <div class="footer-content">
            <div class="info">
                <p>FUNCIONAMENTO</p>
                <p>De 2ª a 6ª feira: de 09:00 às 20:00h</p>
                <p>Sábados e feriados: de 09:00 às 17:00h</p>
            </div>
            <div class="address">
                <p>ENDEREÇO</p>
                <p>AV. 208 JABOATÃO DOS GUARARAPES</p>
                <p>CEP: 69010-160</p>
            </div>
            <div class="contact">
                <p>FALE CONOSCO</p>
                <p>92 3312-6741 / 92 98421-9321</p>
                <p>contato@bombabombadora.com.br</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Copyright 2024 © Todos os direitos reservados</p>
        </div>
    </footer>
</body>

</html>
